*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body{

    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

.container{

    width: 1030px;
    background-color: beige ;
    padding: 30px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, .1) ;
    border-radius: 20px;
}

.tab_box{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgba(229, 229, 229);
    position: relative;
}

.tab_box .tab_btn{

    font-size: 18px;
    font-weight: 600;
    color: #919191;
    background: none;
    padding: 18px;
    border: none;
    padding: 18pv;
    cursor: pointer;
}

.tab_box .tab_btn .active{

    color:#9682f0;
}

.content_box{

    padding: 20px;
}

.content_box .content {

    display: 0;
}

.content_box .content .active{

    display:block;
}


.content_box .content h2 {

    margin-bottom: 10px ;
}

.line{

    position: absolute;
    top: 62px;
    left: 0;
    width: 970px;
    height: 5px;
    background-color:#9682f0;
    border-radius: 10px;
    transition: all;


}


.swiper{

    width: 950px;
}

.card .image {
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card .image img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #b3afc4;
}

.card{

    
    position: relative;
    background: #b3afc4;
    border: 3px solid #9682f0;
    border-radius: 20px;
}

.card::before {

    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #9682f0;
    clip-path: circle(55% at 0 0);
    border-top-left-radius: 10px;
}





.card .card-content {

    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;

}

.card .Iconos {

    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
}

.card .Iconos :hover {

    color: #340ce9;
}

.card .name-profession {

display: flex;
align-items: center;
flex-direction: column;
margin-top: 10px;
color: #fff;

}

.name-profession .name {

    font-size: 20px;
    font-weight: 300;
}

.name-profession .profession {

    font-size: 15;
    font-weight: 250;
}
.card .rating {

    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    margin: 0 2px;
   margin-top: 18px;
}

.card .button {

    display: flex;
    justify-content: space-around;
    width: 110%;
    margin-top: 20px;
    
}

.card .button a {

    text-decoration: none;
}

.card .button button{

    background: #9682f0;
    border: none;
    outline: none;
    color: black;
    font-weight: 600;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: .3s;
}

.card .button button:hover {

    background: #fff;
}
